
*{
    margin: 0;
}


.hero-section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfabn-a2vi3ejDfmPxV95UzNr3P4J_UK8u_g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 100vh;
    display:block;
    
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255,255,255);
    font-size: 15px;
    min-width: 1000px; 
    width: 100%;
    height: 70px;
    position: fixed;
}

.nav-items{
    display: inline-block;
    margin-right: 5px;
    color:  rgb(83, 100, 113);
    font-size: 15px;
}

.nav-bar-button{
    background-color: rgb(10, 10, 10);
    color: rgb(255,255,255);
    border-radius: 20px;
    padding: 13px 20px;
    font-size: 15px;
}

.hero-section span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 50px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(255,255,255);
}

.home2-container{
    height: 100vh;
    display: flex;
    align-items: center;
    /* height: 800px; */
    width: 1000px;
    margin: 0 auto;
    
}

.home2-img{
    width: 40%;
}

.home2-img img{
    display: block;
    width: 600px;
    /* height: 600px;  */
}


.home2-items{
    width: 60%;
    padding-right: 30px;
    font-size: 20px;
    color:  rgb(83, 100, 113);
    font-weight: 500;
}

.home2-items :nth-child(1){
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(17, 17, 17);
}

.home2-items :nth-child(2){
    margin-bottom: 10px;
}

.home2-items :nth-child(3){
    margin-bottom: 30px;
}

.home3-container{
	width: 100%;
}
.home3-numbers{
	display: flex;
	justify-content: space-around;
}

