*{
    margin: 0;
    padding: 0;
    font-family:cursive,'Courier New', Courier, monospace ;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
}
.nav-bar{
    display: flex;
    background-color:  rgb(29,161,242);;
    font-size: 20px;
    color: rgb(255,255,255);
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    justify-content: center;
}

.nav-bar span{
    color: rgb(255,255,255); 
    display: block;  
    margin-right: 20px;
}

.profile-container, .user-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;

}

.profile{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 700;
}

.id{
    color: red;
    align-self: flex-end;
    font-weight: 700;
}

.profile p{
    margin-bottom: 5px;
}